.alert {
  margin: 0;
  font-size: 16px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border-width: 1px;

  &-informative {
    background-color: #bbdefb;
    color: #1565c0;
    border-color: #90caf9;
    border-style: solid;
  }

  &-danger {
    background-color: #ffcdd2;
    color: #c62828;
    border-color: #ef9a9a;
    border-style: solid;
  }

  &-success {
    background-color: #c8e6c9;
    color: #2e7d32;
    border-color: #a5d6a7;
    border-style: solid;
  }

  &-warning {
    background-color: #ffecb3;
    color: #ef6c00;
    border-color: #ffcc80;
    border-style: solid;
  }
}
