.product-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.center-header {
  justify-content: center;
}
.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
}

.form-grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: 748px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
