.summary {
  border: 1px solid #b0bec5;
  border-radius: 4px;
  max-width: 600px;
  margin: 1rem auto;
  padding: 1rem;

  h2,
  p {
    margin: 0;
  }

  p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font: 18px;
  }
}

.customer-header,
.summary-header {
  max-width: 600px;
  margin: 0 auto;

  p,
  h1 {
    margin: 0;
  }
}
