.create-fab {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
  justify-content: center;
  gap: 1rem;
}
