<mat-form-field floatLabel="auto" style="width: 100%">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    placeholder="********"
    [attr.type]="hide ? 'password' : 'text'"
    [formControl]="control"
  />
  <button
    type="button"
    mat-icon-button
    matSuffix
    (click)="hide = !hide"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hide"
  >
    <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
  </button>

  @if (fh.checkControlErrors(control)) {
  <mat-error>{{ fh.getControlErrors(control) }}</mat-error>
  }
</mat-form-field>
